<div class="main">
  <div class="job">
    <div class="card bg-grey">
      <div class="thumbnail">
        <img class="lazy-image org-top-card-module__logo loaded" alt="Barclays Logo" 
        height="120" width="120" 
        src="https://media.licdn.com/dms/image/C4D0BAQFB40olEL2zEg/company-logo_200_200/0?e=1544659200&amp;v=beta&amp;t=N73swbnvRnr-J3fWMknZ4N_SSlzjNjjWEhBdy_Y2rHY">
      </div>
      <div class="summary">
        <div class="title"><span><h1>Barclays</h1></span></div>
        <div class="sub-title">
          <p>
            <span class="industries">
              Financial Services
            </span>
            <span class="location">
              London
            </span>
            <span class="education">
              BEd
            </span>
        </p>
        </div>
        <div class="actions">
          <input type="button" class="apply" value="Apply"/>
        </div>
      </div>
    </div>
    <div class="description">
  
    </div>
  </div>
  <div class="right-section ad-banner bg-red">
  
  </div>  

</div>
