<div class="main">
  <div class="job">
    <div class="card bg-grey shadow">
      <div class="thumbnail">
        <img class="lazy-image org-top-card-module__logo loaded" alt="Barclays Logo" 
        height="120" width="120" 
        src="https://media.licdn.com/dms/image/C4D0BAQFB40olEL2zEg/company-logo_200_200/0?e=1544659200&amp;v=beta&amp;t=N73swbnvRnr-J3fWMknZ4N_SSlzjNjjWEhBdy_Y2rHY">
      </div>
      <div class="summary">
        <div class="title"><span><h1>Barclays</h1></span></div>
        <div class="sub-title">
          <p>
            <span class="industries">
              Financial Services
            </span>
            <span class="location">
              London
            </span>
            <span class="education">
              BEd
            </span>
        </p>
        </div>
        <div class="actions">
          <input type="button" class="apply" value="Apply"/>
        </div>
      </div>
    </div>
    <div class="description shadow">
      <div class="profile">
        <div class="qualification">
          <span><strong>Qualifications needed</strong></span>
            <ul>
              <li>People with 2-5 years of experience in quality assurance and automation.</li>
              <li>Automated and Manual web technologies, sharp eye for detail and critical thinking abilities</li>
              <li>Worked on Selenium Java Framework for Web based Automation</li>
              <li>Worked on Selenium Cucumber a plus</li>
              <li>Good knowledge of software testing fundamentals.</li>
              <li>Good understanding of common testing methodologies and ability to apply them.</li>
              <li>Good problem solving and diagnostic skills, experience with troubleshooting.</li>
              <li>Relevant experience in working with web technologies, knowledge of scripting and programming languages</li>
              <li>Familiar with automated testing tools Excellent written and verbal communication skills.</li>
              <li>Experience in developing test automation frameworks and systems</li>
              <li>Relevant experience in working with and developing applications based on Java, Python, JavaScript.</li>
              <li>Working in a Scrum team or in an Agile environment</li><li>Working with remote teams<br>
              <br>
              </li>
            </ul>
        </div>
        <div class="selection-process">
          <span><strong>Procedue to apply</strong></span>
           <ul>
              <li>
                 Written test followed by interview
                </li>
                <li>
                    Pay online
                  </li>
                  <li>
                      Pay online
                    </li>
             <li>
               Submit application online
             </li>
             <li>
                Link
              </li>
             <li>
                start date of application
              </li>
             <li>
                start date of application
              </li>
              <li>
                  Pay online
                </li>
           </ul> 
        </div>
        <div class="job-description">
          <p>
              Govt Jobs in UP 2018: Get Free notification of all UP Government Jobs September 2018 and 
              its Job vacancies across sectors in UP like Railways, 
              Banking Employment in UP, Universities, College Govt Jobs, 
              Teaching, Schools in UP Financial Institutions 2018, Defence, UPSC, SSC, 
              Agriculture and many more UP Government Jobs
          </p>
        </div>
      </div>
      <div class="trivial-details">
          <div >
            <h3>Seniority Level</h3>
            <p>Entry level</p>
            <h3>Industry</h3>
            <ul>
                  <li>Information Technology and Services</li>
                  <li>Computer Software</li>
                  <li>Internet</li>
        
            </ul>
        
          <h3>Employment Type</h3>
          <p>Full-time</p>
      
            <h3>Job Functions</h3>
            <ul>
                  <li>Engineering</li>
                  <li>Information Technology</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="right-section ad-banner shadow">
  
  </div>  

</div>
