* {
    -webkit-margin-before:0em;
-webkit-margin-after:0em;
}
.main {
    display: flex;
    height: 800px;
}
.job {
    flex-grow: 2;
    width: auto;
    border: 1px;
    margin: 10px 5px 10px 10px;
}

.card {
    height: 200px;
    display: flex;
    background-color: #96965469;
    margin-bottom: 10px;
}

.thumbnail {
    width: 250px;
}

.thumbnail img {
    position: relative;
   top: 50%;
   left: 50%;
   width: 128px;
   height: 128px;
   margin-top: -64px;
   margin-left: -64px; 
}

.summary {
    flex-grow: 2;
    padding-top: 30px;
    padding-bottom: 20px;
}
.sub-title span::after {
    content: "•";
}

.apply {
    background-color: blue;
    width: 120px;
    height: 40px;
    margin-top: 30px;
}




.ad-banner {
    width: 800px;
    margin: 10px 10px 10px 5px;
}

.bg-red {
    background-color: red;
}


.bg-blue {
    background-color: blue;
}


.bg-yellow {
    background-color: yellow;
}

.description {
    display: flex;
    padding: 20px;
    background-color: #96965469;
}

.profile {
    flex-grow: 2;
    padding-right:20px; 
}

.trivial-details {
    width: 800px;
}

.qualification li {
    margin-top: 10px;
}

.shadow {    
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    background-clip: padding-box;
    border-radius: 5px;
}